<p id="notice"><%= notice %></p>

<h1 class="text-center">LISTA DE AERONAVES </h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">NOME</th>
      <th scope="col">NUMERO DE TRRIPULANTES</th>
      <th scope="col">TAMANHO</th>
      <th scope="col">NUMERO</th>
      <th scope="col">CHASSI</th>
      <th scope="col">QUANTIDADE DE HORAS DE VOO</th>
      <th scope="col">QUANTIDADE DE MOTOR</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aeronaves.each do |aeronave| %>
      <tr>
       <th scope="row"></th>
        <td><%= aeronave.nome %></td>
        <td><%= aeronave.numero_tripulantes %></td>
        <td><%= aeronave.tamanho %></td>
        <td><%= aeronave.numero %></td>
        <td><%= aeronave.chassi %></td>
        <td><%= aeronave.quantidade_horas_voo %></td>
        <td><%= aeronave.quantidade_motor %></td>
        <td><%= link_to 'Show', aeronave %></td>
        <td><%= link_to 'Edit', edit_aeronave_path(aeronave) %></td>
        <td><%= link_to 'Destroy', aeronave, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 <p class="text-center"> <%= link_to 'NOVA AERONAVE', new_aeronave_path, class: ' btn btn-primary btn-lg' %> </p>